.center {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center h2,
h1 {
  width: 100%;
  height: auto;
  text-align: center;
}

.grey-text {
  color: gray;
}
