<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-input [(ngModel)]="searchTerm"></ion-input>
  <ion-button (click)="searchClicked()">Search</ion-button> -->

  <ion-item>
    <ion-label>Search</ion-label>
    <ion-input [(ngModel)]="searchTerm" placeholder="Recipes..."></ion-input>
    <ion-button (click)="searchClicked()" color="medium">
      <ion-icon button name="search"></ion-icon>
    </ion-button>

  </ion-item>

  <div *ngIf="showSkeletons">
    <ion-card>
      <ion-skeleton-text animated style="height: 240px;"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-skeleton-text animated style="height: 240px;"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-skeleton-text animated style="height: 240px;"></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngIf="searchedRecipes">
    <!-- [routerLink]="['activity-detail', activity.id]" -->
    <h2 style="margin-left: 0.6em;"> {{listTitle}} </h2>
    <ion-card button *ngFor="let hit of searchedRecipes.hits" (click)="recipeClicked(hit.recipe.uri)">
      <ion-img [src]="hit.recipe.image"></ion-img>
      <ion-card-header>
        <ion-title style="padding: 5px;">{{hit.recipe.label}}</ion-title>
      </ion-card-header>
    </ion-card>

  </div>


</ion-content>